@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-brand-beige text-brand-black transition-colors duration-300 antialiased font-sans;
  }
  .dark body {
    @apply bg-brand-black text-brand-beige;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

.clip-image {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
